{
"_AB" = "ABTESTING_RECOMMEND_RECIPE:A";
"request_id" = 7f3c7715ca518dcd97e92373b767ae83;
result =     {
album =         {
icon = "http://www.haodou.com/public/images3/ico_hot_album.png";
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipe_collect/collectrecommend/3099.jpg?v=0";
List =                     (
{
Cover = "http://recipe0.hoto.cn/pic/recipe/g_230/40/b6/374336_ef7e46.jpg";
Title = "\U83e0\U83dc\U5377\U997c";
},
{
Cover = "http://recipe1.hoto.cn/pic/recipe/g_230/f7/3f/278519_2f1379.jpg";
Title = "\U9e21\U809d\U83e0\U83dc\U7ca5";
},
{
Cover = "http://recipe0.hoto.cn/pic/recipe/g_230/ce/ea/977614_9690d2.jpg";
Title = "\U849c\U6ce5\U83e0\U83dc\U9e21\U86cb";
}
);
Recipe = "20\U9053\U83dc";
Title = "\U83e0\U83dc\U7adf\U6709\U8fd9\U4e48\U591a\U5403\U6cd5";
Url = "haodourecipe://haodou.com/collect/info/?id=9657209";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_collect/collectrecommend/3098.jpg?v=0";
List =                     (
{
Cover = "http://recipe1.hoto.cn/pic/recipe/g_230/29/56/349737_7dadee.jpg";
Title = "\U5364\U8089\U996d";
},
{
Cover = "http://recipe1.hoto.cn/pic/recipe/g_230/2b/76/1013291_dea3a8.jpg";
Title = "\U5364\U8089\U996d";
},
{
Cover = "http://recipe1.hoto.cn/pic/recipe/g_230/6f/c6/837231_1ab3a9.jpg";
Title = "\U5364\U8089\U996d";
}
);
Recipe = "30\U9053\U83dc";
Title = "\U597d\U5403\U7684\U300e\U53f0\U5f0f\U5364\U8089\U996d\U300f";
Url = "haodourecipe://haodou.com/collect/info/?id=9573919";
}
);
name = "\U70ed\U95e8\U4e13\U8f91";
url = "haodourecipe://haodou.com/collect/list/";
};
event =         {
icon = "http://www.haodou.com/public/images3/ico_hots_activity.png";
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/87de6692.jpg";
Intro = "\U6536\U85cf10\U4e2a\U4ee5\U4e0a\U4e13\U8f91\Uff0c\U5c31\U6709\U673a\U4f1a\U514d\U8d39\U62ff\U597d\U793c~";
Title = "\U3010\U6536\U85cf\U5bb6\U4e61\U5473\U3011\U5b9a\U4f4d\U624b\U8868\U514d\U8d39\U9001\Uff01";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-428563.html&id=428563";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/124f08e5b.jpg";
Intro = "\U9a6c\U4e0a\U5c31\U8981\U53d1\U5de5\U8d44\U4e86\Uff0c\U4f60\U51c6\U5907\U597d\U8d2d\U7269\U4e86\U4e48\Uff01\Uff0120\U5757\U94b1\U4f60\U5728\U597d\U8c46\U80fd\U4e70\U5230\U5565\Uff1f\U53ea\U6709\U4f60\U60f3\U4e0d\U5230\Uff0c\U6ca1\U6709\U4f60\U4e70\U4e0d\U5230\Uff5e";
Title = "\U3010\U5230\U5bb6\U30111-19.9\U5143\U7279\U4ef7\U4e13\U533a";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=363&_wt=4";
}
);
name = "\U70ed\U95e8\U6d3b\U52a8";
url = "haodourecipe://haodou.com/latestactive/official/";
};
goods =         {
list =             (
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1457490796915.jpg";
SubTitle = "20\U5143\U5c01\U9876";
Title = "\U4f4e\U4ef7\U6298\U6263";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=363";
},
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1457490796682.jpg";
SubTitle = "\U7f8e\U98df\U4eab\U53d7";
Title = "\U517b\U989c\U7d20\U5bb4";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=361";
},
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1457490796860.jpg";
SubTitle = "\U5c0f\U997c\U5e72 \U597d\U5403\U54d2";
Title = "\U9165\U8106\U5c0f\U997c\U5e72";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=364";
},
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1457490796176.jpg";
SubTitle = "\U83ab\U8f9c\U8d1f";
Title = "\U597d\U7f8e\U98df";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=365";
}
);
name = "\U5230\U5bb6\U5546\U54c1";
};
person =         {
icon = "http://www.haodou.com/public/images3/ico_yourlove.png";
list =             (
{
Img = "http://recipe0.hoto.cn/pic/recipe/g_230/a0/6e/290464_8d1cec.jpg";
Title = "\U97e9\U56fd\U51b7\U9762";
Url = "haodourecipe://haodou.com/recipe/info/?id=290464&video=0";
},
{
Img = "http://recipe0.hoto.cn/pic/recipe/g_230/9a/64/287898_923172.jpg";
Title = "\U53cc\U6912\U9c7c";
Url = "haodourecipe://haodou.com/recipe/info/?id=287898&video=0";
},
{
Img = "http://recipe0.hoto.cn/pic/recipe/g_230/c0/7a/359104_469212.jpg";
Title = "\U5357\U74dc\U767e\U82b1\U94f6\U8033\U7fb9";
Url = "haodourecipe://haodou.com/recipe/info/?id=359104&video=0";
}
);
name = "\U731c\U4f60\U559c\U6b22";
tag =             (
{
CateId = 731;
CateName = "\U9762\U5305";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/a1/1a/268961_6e5313.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=268961&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=731&name=%E9%9D%A2%E5%8C%85";
},
{
CateId = 43;
CateName = "\U82b9\U83dc";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/3c/22/336444_1e7234.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=336444&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=43&name=%E8%8A%B9%E8%8F%9C";
},
{
CateId = 46;
CateName = "\U83e0\U83dc";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/50/8c/298064_901cb2.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=298064&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=46&name=%E8%8F%A0%E8%8F%9C";
},
{
CateId = 120;
CateName = "\U6d0b\U8471";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/6b/1c/334955_1a54a5.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=334955&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=120&name=%E6%B4%8B%E8%91%B1";
},
{
CateId = 144;
CateName = "\U5c71\U836f";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/22/39/276770_681a39.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=276770&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=144&name=%E5%B1%B1%E8%8D%AF";
},
{
CateId = 47;
CateName = "\U9e21\U7fc5";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/2d/2e/339501_a425cc.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=339501&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=47&name=%E9%B8%A1%E7%BF%85";
},
{
CateId = 1004;
CateName = "\U5bff\U53f8";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/5e/ad/372062_259012.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=372062&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=1004&name=%E5%AF%BF%E5%8F%B8";
},
{
CateId = 286;
CateName = "\U65e9\U9910";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/52/ba/178770_37f167.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=178770&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=286&name=%E6%97%A9%E9%A4%90";
}
);
url = "haodourecipe://haodou.com/recommend/recipe/?keyword=%E7%8C%9C%E4%BD%A0%E5%96%9C%E6%AC%A2&title=%E7%8C%9C%E4%BD%A0%E5%96%9C%E6%AC%A2";
};
publish =         {
img = "http://img1.hoto.cn/haodou/g/1/20151230/443e9e963bb.jpg";
title = "\U5206\U4eab\U7f8e\U98df";
url = "haodourecipe://haodou.com/publish/photo/?TagId=&TagName=&rid=&isTopic=0&static_type=6";
};
read =         {
Count = 3;
icon = "http://www.haodou.com/public/images3/ico_quality_goods.png";
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/16424be08.jpg";
Intro = "\U6ca1\U6709\U4ec0\U4e48\U6bd4\U6ce1\U83dc\U66f4\U5f00\U80c3\U7684\U4e86\Uff0c\U5728\U6210\U90fd\Uff0c\U65e0\U4eba\U4e0d\U7231\Uff0c\U4e00\U53e3\U6c14\U54033\U7897\U996d~";
Title = "\U3010\U5bb6\U4e61\U5473\U3011\U6210\U90fd\U5f00\U80c3\U6ce1\U83dc\U7684\U505a\U6cd5\Uff0c3\U5929\U901f\U6210\Uff01\U5feb\U6765\U5b66";
Url = "haodourecipe://haodou.com/collect/info/?id=9565062";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/155cd05a1.jpg";
Intro = "\U5317\U65b9\U4ee5\U5377\U6625\U997c\U3001\U5403\U997a\U5b50\U7b49\U9762\U98df\U4e3a\U4e3b\Uff0c\U800c\U5728\U5357\U65b9\U5219\U5403\U7c73\U996d\U3001\U54b8\U7ca5\U7b49\U7a3b\U8c37\U7c7b\U98df\U7269\U3002";
Title = "\U3010\U8282\U65e5\U3011\U4e8c\U6708\U4e8c\U9f99\U62ac\U5934\Uff0c\U5357\U5317\U98df\U4fd7\U77e5\U591a\U5c11";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-432437.html&id=432437";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/1307d4835.jpg";
Intro = "\U5317\U4eac\U70e4\U9e2d\U8272\U6cfd\U7ea2\U8273\Uff0c\U80a5\U800c\U4e0d\U817b\Uff0c\U5230\U5317\U4eac\U65c5\U6e38\U7684\U4eba\Uff0c\U90fd\U4f1a\U6155\U540d\U53bb\U54c1\U5c1d\U4e0b\U3002";
Title = "\U3010\U5bb6\U4e61\U5473\U3011\U5bb6\U5ead\U7248\U5317\U4eac\U70e4\U9e2d\Uff0c\U505a\U8d77\U6765\U4e00\U70b9\U90fd\U4e0d\U96be\Uff01";
Url = "haodourecipe://haodou.com/collect/info/?id=9621479";
}
);
name = "\U7cbe\U54c1\U9605\U8bfb";
url = "haodourecipe://haodou.com/reading/list/";
};
recipe =         {
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457490872.jpg";
Title = "\U5403\U5403\U559d\U559d";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=363";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457572252.jpg";
Title = "\U957f\U6c99\U83dc\Uff0c\U5c31\U662f\U4e0b\U996d";
Url = "haodourecipe://haodou.com/collect/info/?id=9620227";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457590505.jpg";
Title = "\U5f81\U96c6\U00b7\U5bb6\U4e61\U5473\U4e13\U8f91";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-428563.html&id=428563";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457576432.jpg";
Title = "\U7701\U65f6\U7701\U5fc3\U7684\U5feb\U624b\U9910";
Url = "haodourecipe://haodou.com/collect/info/?id=9656428";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457572392.jpg";
Title = "\U8c46\U8150\U8fd8\U80fd\U8fd9\U6837\U5403\Uff1f";
Url = "haodourecipe://haodou.com/collect/info/?id=9652502";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457402223.jpg";
Title = "\U65b0\U624b\U8fd9\U6837\U505a\U997c\U5e72";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-409935.html&id=409935";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457574098.jpg";
Title = "\U5bb4\U8bf7\Uff1a\U4e0a\U6c64\U5a03\U5a03\U83dc";
Url = "haodourecipe://haodou.com/recipe/info/?id=1043972&video=0";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457574145.jpg";
Title = "\U5c0f\U5403\Uff1a\U5f90\U5dde\U70d9\U998d";
Url = "haodourecipe://haodou.com/recipe/info/?id=1043818&video=0";
}
);
};
recommed =         {
ad =             {
Img = "http://img1.hoto.cn/haodou/recipev4/recommend/155774bee.jpg";
Title = "\U65b0\U624b\U997c\U5e72";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-409935.html&id=409935";
};
list =             (
{
Img = "http://recipe0.hoto.cn/pic/recipe/g_230/c6/ec/1043654_8a5d5c.jpg";
Intro = "\U4eba\U6c14\U83dc\U8c31\U63a8\U8350";
Title = "\U70ed\U95e8\U83dc\U8c31";
Url = "haodourecipe://haodou.com/recommend/recipe/?keyword=%E7%83%AD%E9%97%A8%E8%8F%9C%E8%B0%B1&title=%E7%83%AD%E9%97%A8%E8%8F%9C%E8%B0%B1&tab=%E5%85%A8%E9%83%A8%3A%E7%83%AD%E9%97%A8%E8%8F%9C%E8%B0%B1%7C%E7%A7%81%E4%BA%BA%3A%E7%A7%81%E4%BA%BA%E5%AE%9A%E5%88%B6%7C%E6%97%B6%E4%BB%A4%3A%E6%97%B6%E4%BB%A4%E4%BD%B3%E8%82%B4%7C%E8%BE%BE%E4%BA%BA%3A%E8%BE%BE%E4%BA%BA%E8%8F%9C%E8%B0%B1%7C%E6%9C%80%E6%96%B0%3A%E6%9C%80%E6%96%B0%E8%8F%9C%E8%B0%B1%7C%E7%83%98%E7%84%99%3A%E5%BF%AB%E4%B9%90%E7%9A%84%E7%83%98%E7%84%99";
},
{
Img = "http://www.haodou.com/public/images3/healthy.jpg";
Intro = "\U8425\U517b\U5065\U5eb7";
Title = "\U8425\U517b\U5065\U5eb7";
Url = "haodourecipe://haodou.com/openurlid/?id=484702";
}
);
};
tools =         {
list =             (
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/1.png";
Title = "\U7f8e\U98df\U6c47";
Url = "haodourecipe://haodou.com/index/discovery/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/2.png";
Title = "\U6652\U4f5c\U54c1";
Url = "haodourecipe://haodou.com/find/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/3.png";
Title = "\U89c6\U9891";
Url = "haodourecipe://haodou.com/Video/index/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/4.png";
Title = "\U53a8\U623f\U5b9d\U5178";
Url = "haodourecipe://haodou.com/wiki/list/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/5.png";
Title = "\U6447\U4e00\U6447";
Url = "haodourecipe://haodou.com/shake/";
}
);
};
vip =         {
icon = "http://www.haodou.com/public/images3/ico_auxiliary_master.png";
list =             (
{
Img = "http://avatar0.hoto.cn/c0/25/665024_185.jpg?v=21";
Title = "Flyer\U83f2\U513f";
Url = "haodourecipe://haodou.com/user/wo/?id=665024&name=Flyer%E8%8F%B2%E5%84%BF&avatar=http://avatar0.hoto.cn/c0/25/665024_185.jpg?v=21";
},
{
Img = "http://avatar0.hoto.cn/c8/93/7443400_185.jpg?v=6";
Title = "\U7f8e\U7f8e\U4fcf\U53a8\U5a18";
Url = "haodourecipe://haodou.com/user/wo/?id=7443400&name=%E7%BE%8E%E7%BE%8E%E4%BF%8F%E5%8E%A8%E5%A8%98&avatar=http://avatar0.hoto.cn/c8/93/7443400_185.jpg?v=6";
},
{
Img = "http://avatar1.hoto.cn/41/bb/113473_185.jpg?v=13";
Title = "\U7c63\U8349\U5150";
Url = "haodourecipe://haodou.com/user/wo/?id=113473&name=%E7%B1%A3%E8%8D%89%E5%85%90&avatar=http://avatar1.hoto.cn/41/bb/113473_185.jpg?v=13";
},
{
Img = "http://avatar0.hoto.cn/a6/73/553894_185.jpg";
Title = "\U7530\U56ed";
Url = "haodourecipe://haodou.com/user/wo/?id=553894&name=%E7%94%B0%E5%9B%AD&avatar=http://avatar0.hoto.cn/a6/73/553894_185.jpg";
},
{
Img = "http://avatar1.hoto.cn/d5/24/2041045_185.jpg?v=8";
Title = "\U6e05\U98ce\U9759\U5f71";
Url = "haodourecipe://haodou.com/user/wo/?id=2041045&name=%E6%B8%85%E9%A3%8E%E9%9D%99%E5%BD%B1&avatar=http://avatar1.hoto.cn/d5/24/2041045_185.jpg?v=8";
}
);
name = "\U597d\U8c46\U8fbe\U4eba";
url = "haodourecipe://haodou.com/vipuser/";
};
};
status = 200;
}