{
"_AB" = "ABTESTING_RECOMMEND_RECIPE:A";
"request_id" = a670732c5ea1fe87b0d36cb12019bcbc;
result =     {
album =         {
icon = "http://www.haodou.com/public/images3/ico_hot_album.png";
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipe_collect/collectrecommend/3084.jpg?v=0";
List =                     (
{
Cover = "http://recipe0.hoto.cn/pic/recipe/g_230/42/20/925762_d005ee.jpg";
Title = "\U9e2d\U8840\U7c89\U4e1d\U6c64";
},
{
Cover = "http://recipe0.hoto.cn/pic/recipe/g_75/70/19/924016_e315ad.jpg";
Title = "\U3010\U624b\U5de5\U7f8e\U98df\U3011\U9e21\U6c41\U56de\U5364\U5e72";
},
{
Cover = "http://recipe0.hoto.cn/pic/recipe/g_75/6c/5f/1007468_b23980.jpg";
Title = "\U8d64\U8c46\U9152\U917f\U5c0f\U5143\U5bb5";
}
);
Recipe = "20\U9053\U83dc";
Title = "\U6765\U4e00\U53e3\U5357\U4eac\U5c0f\U5403\Uff0c\U5b8c\U7f8e\Uff01";
Url = "haodourecipe://haodou.com/collect/info/?id=9616021";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_collect/collectrecommend/3083.jpg?v=0";
List =                     (
{
Cover = "http://recipe0.hoto.cn/pic/recipe/g_230/66/a3/893798_15ccf6.jpg";
Title = "\U7ea2\U70e7\U516b\U5e26\U9c7c";
},
{
Cover = "http://recipe0.hoto.cn/pic/recipe/g_230/8c/a3/1024908_d153dd.jpg";
Title = "\U4e94\U82b1\U8089\U7684\U7b2c\U4e00\U79cd\U6253\U5f00\U65b9\U5f0f--\U7ea2\U70e7\U8089";
},
{
Cover = "http://recipe1.hoto.cn/pic/recipe/g_230/61/a9/895329_604685.jpg";
Title = "\U6d77\U5e26\U5343\U5f20\U7ea2\U70e7\U8089";
}
);
Recipe = "42\U9053\U83dc";
Title = "\U5fc5\U5b66\Uff0142\U9053\U7ecf\U5178\U7ea2\U70e7\U83dc";
Url = "haodourecipe://haodou.com/collect/info/?id=9611221";
}
);
name = "\U70ed\U95e8\U4e13\U8f91";
url = "haodourecipe://haodou.com/collect/list/";
};
event =         {
icon = "http://www.haodou.com/public/images3/ico_hots_activity.png";
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/d00126f7.jpg";
Intro = "\U5168\U56fd\U8c46\U4eb2\U662f\U600e\U6837\U8fc7\U5973\U738b\U8282\U7684\U5462\Uff1f";
Title = "\U3010\U4e09\U516b\U5973\U738b\U8282\U6d3b\U52a8\U3011\U6211\U5c31\U662f\U5973\U738b\Uff0c\U597d\U597d\U6b3e\U5f85\U81ea\U5df1";
Url = "haodourecipe://haodou.com/photolist/?type=1&id=88&subtype=&_wt=5&_wt=4&_wt=5&_wt=5&_wt=4&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=4";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/87de6692.jpg";
Intro = "\U6536\U85cf10\U4e2a\U4ee5\U4e0a\U4e13\U8f91\Uff0c\U5c31\U6709\U673a\U4f1a\U514d\U8d39\U62ff\U597d\U793c~";
Title = "\U3010\U6536\U85cf\U5bb6\U4e61\U5473\U3011\U5b9a\U4f4d\U624b\U8868\U514d\U8d39\U9001\Uff01";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-428563.html&id=428563";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/1aa8b2ec0.jpg";
Intro = "\U5973\U4eba\U5b63\U90fd\U6709\U54ea\U4e9b\U5927\U62db\Uff1f\U5feb\U6765\U770b";
Title = "\U3010\U597d\U8c46\U5973\U4eba\U5b63\U3011\U5ba0\U7231\U4f60\Uff0c\U5ba0\U7231\U7f8e";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-428882.html&id=428882";
}
);
name = "\U70ed\U95e8\U6d3b\U52a8";
url = "haodourecipe://haodou.com/latestactive/official/";
};
goods =         {
list =             (
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1456903963129.jpg";
SubTitle = "\U6700\U7231\U4f60";
Title = "\U4eca\U65e5\U5973\U751f\U8282";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=355";
},
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1456903963485.jpg";
SubTitle = "3.8\U5143\U8d77";
Title = "\U7279\U4ef7\U5728\U8fd9\U91cc";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=359";
},
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1456905341223.jpg";
SubTitle = "\U597d\U5403\U4e0d\U8d35";
Title = "\U751c\U871c\U5973\U751f\U8282";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=352";
},
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1456905272471.jpg";
SubTitle = "\U7ed9\U5bb6\U4eba";
Title = "\U9501\U4f4f\U4ed6\U7684\U80c3";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=356";
}
);
name = "\U5230\U5bb6\U5546\U54c1";
};
person =         {
icon = "http://www.haodou.com/public/images3/ico_yourlove.png";
list =             (
{
Img = "http://recipe0.hoto.cn/pic/recipe/g_230/80/a4/369792_03ff91.jpg";
Title = "\U9e33\U9e2f\U8c46\U8150";
Url = "haodourecipe://haodou.com/recipe/info/?id=369792&video=0";
},
{
Img = "http://recipe0.hoto.cn/pic/recipe/g_230/34/cd/314676_b76243.jpg";
Title = "\U5564\U9152\U70e7\U732a\U8e44";
Url = "haodourecipe://haodou.com/recipe/info/?id=314676&video=0";
},
{
Img = "http://recipe0.hoto.cn/pic/recipe/g_230/60/06/394848_ba4b9a.jpg";
Title = "\U8c4c\U8c46\U84b8\U86cb";
Url = "haodourecipe://haodou.com/recipe/info/?id=394848&video=0";
}
);
name = "\U731c\U4f60\U559c\U6b22";
tag =             (
{
CateId = 304;
CateName = "\U6c64";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/87/cf/249735_c05822.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=249735&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=304&name=%E6%B1%A4";
},
{
CateId = 78;
CateName = "\U82a6\U7b0b";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/bf/79/424383_f88a62.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=424383&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=78&name=%E8%8A%A6%E7%AC%8B";
},
{
CateId = 702;
CateName = "\U8377\U5170\U8c46";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/dd/a7/436189_993cf9.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=436189&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=702&name=%E8%8D%B7%E5%85%B0%E8%B1%86";
},
{
CateId = 46;
CateName = "\U83e0\U83dc";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/50/8c/298064_901cb2.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=298064&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=46&name=%E8%8F%A0%E8%8F%9C";
},
{
CateId = 291;
CateName = "\U70d8\U7119";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/d9/18/268505_b7aa31.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=268505&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=291&name=%E7%83%98%E7%84%99";
},
{
CateId = 2808;
CateName = "\U51cf\U80a5";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/3a/d8/47118_Pp9l5.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=47118&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=2808&name=%E5%87%8F%E8%82%A5";
},
{
CateId = 391;
CateName = "\U513f\U7ae5";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/4d/8c/298061_79dbb9.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=298061&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=391&name=%E5%84%BF%E7%AB%A5";
},
{
CateId = 6534;
CateName = "\U4e0b\U996d\U83dc";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/de/7b/162782_0adf80.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=162782&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=6534&name=%E4%B8%8B%E9%A5%AD%E8%8F%9C";
}
);
url = "haodourecipe://haodou.com/recommend/recipe/?keyword=%E7%8C%9C%E4%BD%A0%E5%96%9C%E6%AC%A2&title=%E7%8C%9C%E4%BD%A0%E5%96%9C%E6%AC%A2";
};
publish =         {
img = "http://img1.hoto.cn/haodou/g/1/20151230/443e9e963bb.jpg";
title = "\U5206\U4eab\U7f8e\U98df";
url = "haodourecipe://haodou.com/publish/photo/?TagId=&TagName=&rid=&isTopic=0&static_type=6";
};
read =         {
Count = 3;
icon = "http://www.haodou.com/public/images3/ico_quality_goods.png";
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/c9199e17.jpg";
Intro = "\U4e00\U60f3\U5230\U4e0a\U6d77\U6797\U6797\U79cd\U79cd\U7684\U7f8e\U5473\U5c0f\U5403\Uff0c\U662f\U4e0d\U662f\U5728\U54bd\U53e3\U6c34\U3002\U7acb\U9a6c\U5b66\U7740\U505a\U8d77\U6765\U5427\U3002";
Title = "\U3010\U5bb6\U4e61\U5473\U3011\U6700\U4e0a\U6d77\U7684\U7ecf\U5178\U5c0f\U5403\Uff0c\U5728\U5bb6\U4e5f\U80fd\U505a\Uff01";
Url = "haodourecipe://haodou.com/collect/info/?id=9620666";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/bb5b19bf.jpg";
Intro = "\U5728\U953b\U70bc\U7684\U57fa\U7840\U4e0a\Uff0c\U5403\U54ea\U4e9b\U98df\U7269\U53ef\U4ee5\U8ba9\U81ea\U5df1\U66f4\U52a0\U7684\U7f8e\U4e3d\Uff0c\U76ae\U80a4\U66f4\U52a0\U7684\U597d\U5462\Uff1f";
Title = "\U3010\U5973\U738b\U8282\U3011\U597d\U597d\U62a4\U80a4\Uff0c\U8ba9\U5c81\U6708\U5b9a\U683c\U5728\U82b1\U6837\U5e74\U534e";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-431247.html&id=431247";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/87c1576e.jpg";
Intro = "\U6f6e\U5dde\U7802\U9505\U7ca5\U5728\U5e7f\U5dde\U5f88\U76db\U884c\Uff0c\U6709\U4e0d\U5c11\U7802\U9505\U7ca5\U4e13\U95e8\U5e97\U3002";
Title = "\U3010\U5bb6\U4e61\U5473\U3011\U98ce\U9761\U5168\U56fd\U7684\U6f6e\U6c55\U7802\U9505\U7ca5";
Url = "haodourecipe://haodou.com/collect/info/?id=9580990";
}
);
name = "\U7cbe\U54c1\U9605\U8bfb";
url = "haodourecipe://haodou.com/reading/list/";
};
recipe =         {
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457316623.jpg";
Title = "\U5230\U5bb6\U00b7\U5973\U4eba\U5b63";
Url = "haodourecipe://haodou.com/openurl/?url=http%3A%2F%2Fm.haodou.com%2Fmall%2Findex.php%3Fr%3Dwap%2Fweixin%2Fwomenday2nd";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457346180.jpg";
Title = "\U6765\U4efd\U53a6\U95e8\U5c0f\U5403";
Url = "haodourecipe://haodou.com/collect/info/?id=9615065";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457107796.jpg";
Title = "\U4e13\U8f91\U5f81\U96c6\U6d3b\U52a8";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-428563.html&id=428563";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457315506.jpg";
Title = "\U6625\U6e38\U8e0f\U9752\U5fc5\U5907\U7f8e\U98df";
Url = "haodourecipe://haodou.com/collect/info/?id=9639074";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457319402.jpg";
Title = "\U53d8\U7740\U82b1\U6837\U5403\U8304\U5b50";
Url = "haodourecipe://haodou.com/collect/info/?id=9552790";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457064617.jpg";
Title = "\U70d8\U7119\U65b0\U624b\U5165\U95e8";
Url = "haodourecipe://haodou.com/collect/info/?id=9173109";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457317795.jpg";
Title = "\U542f\U4e1c\U7f8e\U98df\Uff1a\U709d\U6d77\U867e";
Url = "haodourecipe://haodou.com/recipe/info/?id=1042706&video=0";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/03/1457317836.jpg";
Title = "\U897f\U6e56\U85d5\U7c89";
Url = "haodourecipe://haodou.com/recipe/info/?id=1041932&video=0";
}
);
};
recommed =         {
ad =             {
Img = "http://img1.hoto.cn/haodou/recipev4/recommend/b85d7280.jpg";
Title = "\U5730\U65b9\U83dc";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-428563.html&id=428563";
};
list =             (
{
Img = "http://recipe1.hoto.cn/pic/recipe/g_230/15/d9/1038613_557fe5.jpg";
Intro = "\U4eba\U6c14\U83dc\U8c31\U63a8\U8350";
Title = "\U70ed\U95e8\U83dc\U8c31";
Url = "haodourecipe://haodou.com/recommend/recipe/?keyword=%E7%83%AD%E9%97%A8%E8%8F%9C%E8%B0%B1&title=%E7%83%AD%E9%97%A8%E8%8F%9C%E8%B0%B1&tab=%E5%85%A8%E9%83%A8%3A%E7%83%AD%E9%97%A8%E8%8F%9C%E8%B0%B1%7C%E7%A7%81%E4%BA%BA%3A%E7%A7%81%E4%BA%BA%E5%AE%9A%E5%88%B6%7C%E6%97%B6%E4%BB%A4%3A%E6%97%B6%E4%BB%A4%E4%BD%B3%E8%82%B4%7C%E8%BE%BE%E4%BA%BA%3A%E8%BE%BE%E4%BA%BA%E8%8F%9C%E8%B0%B1%7C%E6%9C%80%E6%96%B0%3A%E6%9C%80%E6%96%B0%E8%8F%9C%E8%B0%B1%7C%E7%83%98%E7%84%99%3A%E5%BF%AB%E4%B9%90%E7%9A%84%E7%83%98%E7%84%99";
},
{
Img = "http://www.haodou.com/public/images3/healthy.jpg";
Intro = "\U8425\U517b\U5065\U5eb7";
Title = "\U8425\U517b\U5065\U5eb7";
Url = "haodourecipe://haodou.com/openurlid/?id=484702";
}
);
};
tools =         {
list =             (
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/1.png";
Title = "\U7f8e\U98df\U6c47";
Url = "haodourecipe://haodou.com/index/discovery/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/2.png";
Title = "\U6652\U4f5c\U54c1";
Url = "haodourecipe://haodou.com/find/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/3.png";
Title = "\U89c6\U9891";
Url = "haodourecipe://haodou.com/Video/index/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/4.png";
Title = "\U53a8\U623f\U5b9d\U5178";
Url = "haodourecipe://haodou.com/wiki/list/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/5.png";
Title = "\U6447\U4e00\U6447";
Url = "haodourecipe://haodou.com/shake/";
}
);
};
vip =         {
icon = "http://www.haodou.com/public/images3/ico_auxiliary_master.png";
list =             (
{
Img = "http://avatar0.hoto.cn/fe/4a/4868862_185.jpg";
Title = "\U4e00\U8bfa\U60c5\U6df1";
Url = "haodourecipe://haodou.com/user/wo/?id=4868862&name=%E4%B8%80%E8%AF%BA%E6%83%85%E6%B7%B1&avatar=http://avatar0.hoto.cn/fe/4a/4868862_185.jpg";
},
{
Img = "http://avatar0.hoto.cn/ba/5d/8019386_185.jpg?v=1";
Title = "oO\U5c0f\U6076\U9b54\U591c\U732bOo";
Url = "haodourecipe://haodou.com/user/wo/?id=8019386&name=oO%E5%B0%8F%E6%81%B6%E9%AD%94%E5%A4%9C%E7%8C%ABOo&avatar=http://avatar0.hoto.cn/ba/5d/8019386_185.jpg?v=1";
},
{
Img = "http://avatar1.hoto.cn/6f/fd/3079535_185.jpg?v=7";
Title = "\U660e\U6708\U821e\U9752\U8863";
Url = "haodourecipe://haodou.com/user/wo/?id=3079535&name=%E6%98%8E%E6%9C%88%E8%88%9E%E9%9D%92%E8%A1%A3&avatar=http://avatar1.hoto.cn/6f/fd/3079535_185.jpg?v=7";
},
{
Img = "http://avatar0.hoto.cn/48/04/8193096_185.jpg?v=2";
Title = "dyn\U6843\U5b50";
Url = "haodourecipe://haodou.com/user/wo/?id=8193096&name=dyn%E6%A1%83%E5%AD%90&avatar=http://avatar0.hoto.cn/48/04/8193096_185.jpg?v=2";
},
{
Img = "http://avatar0.hoto.cn/c8/93/7443400_185.jpg?v=6";
Title = "\U7f8e\U7f8e\U4fcf\U53a8\U5a18";
Url = "haodourecipe://haodou.com/user/wo/?id=7443400&name=%E7%BE%8E%E7%BE%8E%E4%BF%8F%E5%8E%A8%E5%A8%98&avatar=http://avatar0.hoto.cn/c8/93/7443400_185.jpg?v=6";
}
);
name = "\U597d\U8c46\U8fbe\U4eba";
url = "haodourecipe://haodou.com/vipuser/";
};
};
status = 200;
}