{
"request_id" = 0018b0d3e1cb38614d6e458ed4fb5f4b;
result =     {
CateList =         (
{
CateId = 15;
CateName = "\U70b9\U5fc3";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=15&name=%E7%82%B9%E5%BF%83&type=1";
},
{
CateId = 39;
CateName = "\U755c\U8089";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=39&name=%E7%95%9C%E8%82%89&type=1";
},
{
CateId = 2;
CateName = "\U6c64";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=2&name=%E6%B1%A4&type=1";
},
{
CateId = 35;
CateName = "\U714e\U70b8";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=35&name=%E7%85%8E%E7%82%B8&type=1";
},
{
CateId = 57;
CateName = "\U79bd\U8089";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=57&name=%E7%A6%BD%E8%82%89&type=1";
},
{
CateId = 48;
CateName = "\U751c\U54c1";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=48&name=%E7%94%9C%E5%93%81&type=1";
},
{
CateId = 40;
CateName = "\U51c9\U83dc";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=40&name=%E5%87%89%E8%8F%9C&type=1";
},
{
CateId = 55;
CateName = "\U8c46\U5236\U54c1";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=55&name=%E8%B1%86%E5%88%B6%E5%93%81&type=1";
}
);
VideoList =         (
{
CateName = "\U63a8\U8350";
List =                 (
{
CommentCount = 2;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=1041181&cid=0";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/1d/e3/1041181_638200.jpg";
DiggCount = 56;
IsDigg = 0;
PlayCount = 772;
Title = "\U57f9\U6839\U996d\U56e2";
Type = 1;
VideoId = 1041181;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=1041181&video=1";
},
{
CommentCount = 5;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=1041295&cid=0";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/8f/e3/1041295_c0d495.jpg";
DiggCount = 69;
IsDigg = 0;
PlayCount = 4080;
Title = "\U9c7c\U9999\U8089\U4e1d";
Type = 1;
VideoId = 1041295;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=1041295&video=1";
},
{
CommentCount = 4;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=1042092&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/ac/e6/1042092_ecb0bf.jpg";
DiggCount = 32;
IsDigg = 0;
PlayCount = 1444;
Title = "\U6842\U82b1\U7cef\U7c73\U85d5";
Type = 1;
VideoId = 1042092;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=1042092&video=1";
},
{
CommentCount = 2;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=1039566&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/ce/dc/1039566_fe0e2f.jpg";
DiggCount = 46;
IsDigg = 0;
PlayCount = 1921;
Title = "\U4e2d\U5f0f\U6cd5\U68cd";
Type = 1;
VideoId = 1039566;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=1039566&video=1";
}
);
OpenUrl = "haodourecipe://haodou.com/video/recipe_recommnd/?type=1&title=\U63a8\U8350";
},
{
CateName = "\U70ed\U95e8";
List =                 (
{
CommentCount = 112;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=851904&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/c0/ff/851904_410718.jpg";
DiggCount = 1720;
IsDigg = 0;
PlayCount = 108175;
Title = "\U91d1\U7389\U6ee1\U5802";
Type = 1;
VideoId = 851904;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=851904&video=1";
},
{
CommentCount = 90;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=853407&cid=0";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/9f/05/853407_016ac6.jpg";
DiggCount = 1498;
IsDigg = 0;
PlayCount = 93613;
Title = "\U7409\U7483\U5c71\U836f";
Type = 1;
VideoId = 853407;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=853407&video=1";
},
{
CommentCount = 56;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=900008&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/a8/bb/900008_8b3814.jpg";
DiggCount = 1538;
IsDigg = 0;
PlayCount = 62622;
Title = "\U9ebb\U8fa3\U9999\U9505";
Type = 1;
VideoId = 900008;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=900008&video=1";
},
{
CommentCount = 74;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=853174&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/b6/04/853174_94e2a1.jpg";
DiggCount = 1183;
IsDigg = 0;
PlayCount = 43659;
Title = "\U9ec4\U91d1\U9c7f\U9c7c\U5708";
Type = 1;
VideoId = 853174;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=853174&video=1";
}
);
OpenUrl = "haodourecipe://haodou.com/video/recipe_hot/?type=1&title=\U70ed\U95e8";
}
);
};
status = 200;
}