{
"request_id" = ef22029783bcebd4cd539290fcb8a9ba;
result =     {
info =         {
Collection = "\U64ad\U653e\U65f6\U957f 00:00";
CommentCount = 0;
CommentList =             (
);
CookTime = "1-2\U5c0f\U65f6";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/c9/03/1049545_0772cc.jpg";
CreateTime = "\U521b\U5efa\U65e5\U671f:2016-03-23";
DiggCount = 0;
DiggUsersUrl = "haodourecipe://haodou.com/digg/getDiggUserList/?id=1049545&type=4";
Duration = "\U64ad\U653e\U65f6\U957f 00:00";
HasVideo = 1;
Intro = "\U5927\U8fc7\U5e74\U7684\Uff0c\U90fd\U6536\U5230\U7ea2\U5305\U4e86\U5417\Uff1f\U90fd\U63a5\U6536\U5230\U6765\U81ea\U56db\U9762\U516b\U65b9\U4eb2\U670b\U597d\U53cb\U4eec\U7684\U6170\U95ee\Uff08shenwen\Uff09\U4e86\U5417\Uff1f\U4f60\U8fd8\U63a5\U5f97\U4f4f\U5417\Uff1f \U6ca1\U4ec0\U4e48\U5b89\U6170\U4f60\U7684\Uff0c\U53ea\U80fd\U9001\U4f60\U83dc\U8c31\U4e86\Uff0c\U81ea\U5df1\U505a\U4e2a\U7cef\U7c73\U516b\U5b9d\U996d\U751c\U871c\U4e00\U4e0b\U5427~";
IsDigg = 0;
IsLike = 0;
LastDiggUsers =             (
{
Avatar = "http://avatar1.hoto.cn/e1/a4/4105441_185.jpg";
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=4105441";
UserId = 4105441;
}
);
LikeCount = 1;
MainStuff =             (
{
cate = "\U7c73\U9762\U5236\U54c1";
cateid = 8;
"food_flag" = 1;
id = 86;
name = "\U7cef\U7c73";
type = 1;
weight = 200g;
}
);
MallUrl = "haodourecipe://haodou.com/index/discovery/";
MoreRecipeUrl = "haodourecipe://haodou.com/Info/getMoreRecipe?rid=1049545";
OtherStuff =             (
{
cate = "\U5e72\U8d27";
cateid = 4;
"food_flag" = 0;
id = 0;
name = "\U7ea2\U67a3";
type = 2;
weight = "2\U4e2a";
},
{
cate = "\U5e72\U8d27";
cateid = 4;
"food_flag" = 0;
id = 0;
name = "\U6838\U6843\U4ec1";
type = 2;
weight = "2\U4e2a";
},
{
cate = "\U5e72\U8d27";
cateid = 4;
"food_flag" = 0;
id = 0;
name = "\U94f6\U674f\U679c";
type = 2;
weight = "10\U9897";
},
{
cate = "\U4f11\U95f2\U98df\U54c1";
cateid = 13;
"food_flag" = 0;
id = 0;
name = "\U8461\U8404\U5e72";
type = 2;
weight = "1\U628a";
},
{
cate = "\U4f11\U95f2\U98df\U54c1";
cateid = 13;
"food_flag" = 0;
id = 0;
name = "\U5c71\U6942\U7cd5";
type = 2;
weight = "2\U4e2a";
},
{
cate = "\U8c03\U5473\U6599";
cateid = 2;
"food_flag" = 0;
id = 0;
name = "\U8c46\U6c99";
type = 2;
weight = 50g;
},
{
cate = "\U4f11\U95f2\U98df\U54c1";
cateid = 13;
"food_flag" = 0;
id = 0;
name = "\U679c\U812f";
type = 2;
weight = "2\U4e2a";
},
{
cate = "\U5e72\U8d27";
cateid = 4;
"food_flag" = 0;
id = 0;
name = "\U6842\U5706";
type = 2;
weight = "2\U4e2a";
}
);
PhotoCount = 0;
PhotoList =             (
"http://recipe1.hoto.cn/pic/recipe/l/c9/03/1049545_0772cc.jpg"
);
Product =             (
{
Avatar = "http://avatar1.hoto.cn/95/00/2228373_185.jpg";
Content = "";
DiggCount = 12;
Img = "http://recipe0.hoto.cn/pic/userphoto/9a/99/1939866_478.jpg!s.userphoto.175?t=1433458418";
IsDigg = 0;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=2228373";
Pid = 1939866;
Url = "haodourecipe://haodou.com/photo/?id=1939866";
UserId = 2228373;
UserName = "\U7231\U7c9f\U7c9f";
},
{
Avatar = "http://avatar1.hoto.cn/df/18/6691039_185.jpg?v=5";
Content = "\U7cef\U7c73\Uff0c\U677e\U5b50\Uff0c\U84dd\U8393\U5e72\Uff0c\U8461\U8404\U5e72\Uff0c\U6838\U6843\U4ec1\Uff0c\U83e0\U841d\Uff0c\U7ea2\U8c46\Uff0c\U5927\U7c73\U96c6\U5408\U5728\U4e00\U8d77\U84b8\Uff0c\U505a\U51fa\U9999\U751c\U7684\U516b\U5b9d\U996d";
DiggCount = 31;
Img = "http://recipe1.hoto.cn/pic/userphoto/21/ea/1763873_478.jpg!s.userphoto.175?t=1426740189";
IsDigg = 0;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=6691039";
Pid = 1763873;
Url = "haodourecipe://haodou.com/photo/?id=1763873";
UserId = 6691039;
UserName = "\U6c34\U84dd\U51b0\U6e05";
},
{
Avatar = "http://avatar0.hoto.cn/e8/85/2196968_185.jpg";
Content = "#\U820c\U5c16#\U597d\U5403";
DiggCount = 0;
Img = "http://recipe0.hoto.cn/pic/userphoto/cc/b2/1094348_478.jpg!s.userphoto.175?t=1399273247";
IsDigg = 0;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=2196968";
Pid = 1094348;
Url = "haodourecipe://haodou.com/photo/?id=1094348";
UserId = 2196968;
UserName = "\U96ea\U5730\U51b0\U5929";
}
);
ProductCount = 3;
Rate = 5;
ReadyTime = "2\U5c0f\U65f6\U4ee5\U4e0a";
RecipeId = 1049545;
RecommendTopic =             (
{
Avatar = "http://avatar0.hoto.cn/c2/ad/568770_185.jpg?v=29";
Collection = "37\U79d2\U524d   13\U56de\U590d\U56de\U590d";
CommentCount = "13\U56de\U590d";
LastPostTime = "37\U79d2\U524d";
Title = "\U9171\U9999\U9c7f\U9c7c\U5377";
TopicId = 438757;
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-438757.html%3F_v%3Dnohead&id=438757";
UserId = 568770;
UserName = "\U72fc\U4e4b\U821e";
},
{
Avatar = "http://avatar1.hoto.cn/41/bb/113473_185.jpg?v=13";
Collection = "20\U5206\U949f\U524d   20\U56de\U590d\U56de\U590d";
CommentCount = "20\U56de\U590d";
LastPostTime = "20\U5206\U949f\U524d";
Title = "\U6cb9\U83dc\U82b1\U5f00\U91d1\U707f\U707f";
TopicId = 438310;
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-438310.html%3F_v%3Dnohead&id=438310";
UserId = 113473;
UserName = "\U7c63\U8349\U5150";
},
{
Avatar = "http://avatar1.hoto.cn/07/9c/171015_185.jpg";
Collection = "\U534a\U5c0f\U65f6\U524d   39\U56de\U590d\U56de\U590d";
CommentCount = "39\U56de\U590d";
LastPostTime = "\U534a\U5c0f\U65f6\U524d";
Title = "\U65e0\U6cd5\U6297\U62d2\U7684\U4e0b\U996d\U83dc---\U9c7f\U9c7c\U7206\U8170\U82b1";
TopicId = 438442;
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-438442.html%3F_v%3Dnohead&id=438442";
UserId = 171015;
UserName = "\U65af\U4f73\U4e3d";
}
);
ReviewTime = "2016-03-23";
Reward =             {
Desc = "\U8d76\U7d27\U544a\U8bc9Ta: \U6fc0\U52a8\U7684\U5fc3\U60c5\U65e0\U6cd5\U7528\U8a00\U8bed\U8868\U8fbe, \U8d4f\U60a810\U8c46\U5e01\U8bf7\U7b11\U7eb3\U54c8~";
Id = 1049545;
IsReward = 0;
RewardAble = 1;
RewardCount = 0;
Title = "\U6253\U8d4f\U5566\Uff01\U53ea\U9700<font color=\"#ff6600\">10\U8c46\U5e01</font>\U54e6~";
Type = 0;
UserListDesc = "";
UserListUrl = "haodourecipe://haodou.com/reward/users/?id=1049545&ItemType=0";
Words =                 (
"\U8d85\U8d5e",
"\U5e05\U5446\U4e86",
"\U9177\U6bd9",
"\U4ef0\U6155",
"\U5929\U4e0b\U65e0\U53cc",
"\U592a\U7ecf\U5178\U4e86",
"\U5c0f\U610f\U601d",
"\U5b87\U5b99\U65e0\U654c\U7cbe\U5f69",
"\U597d\U5230\U6211\U5fc3\U574e\U91cc\U4e86"
);
};
Status = 0;
Steps =             (
{
Intro = "\U7cef\U7c73\U51b7\U6c34\U6d78\U6ce16\U5c0f\U65f6\U3002";
StepPhoto = "http://recipe0.hoto.cn/pic/step/g_800/84/32/4600452.jpg";
},
{
Intro = "\U653e\U5165\U84b8\U7b3c\U84b830\U5206\U949f\U3002";
StepPhoto = "http://recipe1.hoto.cn/pic/step/g_800/85/32/4600453.jpg";
},
{
Intro = "\U7897\U5185\U62b9\U4e0a\U732a\U6cb9\U3002";
StepPhoto = "http://recipe0.hoto.cn/pic/step/g_800/86/32/4600454.jpg";
},
{
Intro = "\U7897\U5185\U653e\U5165\U7ea2\U67a3\U3001\U679c\U812f\U3001\U83b2\U5fc3\U3001\U6842\U5706\U3001\U6838\U6843\U4ec1\U3001\U94f6\U674f\U679c\U3001\U8461\U8404\U5e72\U3002";
StepPhoto = "http://recipe1.hoto.cn/pic/step/g_800/87/32/4600455.jpg";
},
{
Intro = "\U7136\U540e\U94fa\U4e0a\U4e00\U5c42\U7c73\U996d\U3002";
StepPhoto = "http://recipe0.hoto.cn/pic/step/g_800/88/32/4600456.jpg";
},
{
Intro = "\U4e00\U5c42\U5c71\U6942\U7cd5\U3002";
StepPhoto = "http://recipe1.hoto.cn/pic/step/g_800/89/32/4600457.jpg";
},
{
Intro = "\U4e00\U5c42\U8c46\U6c99\U3002";
StepPhoto = "http://recipe0.hoto.cn/pic/step/g_800/8a/32/4600458.jpg";
},
{
Intro = "\U518d\U76d6\U4e00\U5c42\U7c73\U996d\U3002";
StepPhoto = "http://recipe1.hoto.cn/pic/step/g_800/8b/32/4600459.jpg";
},
{
Intro = "\U653e\U5165\U84b8\U7b3c\U84b860\U5206\U949f\U3002";
StepPhoto = "http://recipe0.hoto.cn/pic/step/g_800/8c/32/4600460.jpg";
},
{
Intro = "\U6700\U540e\U5012\U6263\U5728\U76d8\U4e2d\U3002";
StepPhoto = "http://recipe1.hoto.cn/pic/step/g_800/8d/32/4600461.jpg";
}
);
Stuff =             (
{
cate = "\U7c73\U9762\U5236\U54c1";
cateid = 8;
"food_flag" = 1;
id = 86;
name = "\U7cef\U7c73";
type = 1;
weight = 200g;
},
{
cate = "\U5e72\U8d27";
cateid = 4;
"food_flag" = 0;
id = 0;
name = "\U7ea2\U67a3";
type = 2;
weight = "2\U4e2a";
},
{
cate = "\U5e72\U8d27";
cateid = 4;
"food_flag" = 0;
id = 0;
name = "\U6838\U6843\U4ec1";
type = 2;
weight = "2\U4e2a";
},
{
cate = "\U5e72\U8d27";
cateid = 4;
"food_flag" = 0;
id = 0;
name = "\U94f6\U674f\U679c";
type = 2;
weight = "10\U9897";
},
{
cate = "\U4f11\U95f2\U98df\U54c1";
cateid = 13;
"food_flag" = 0;
id = 0;
name = "\U8461\U8404\U5e72";
type = 2;
weight = "1\U628a";
},
{
cate = "\U4f11\U95f2\U98df\U54c1";
cateid = 13;
"food_flag" = 0;
id = 0;
name = "\U5c71\U6942\U7cd5";
type = 2;
weight = "2\U4e2a";
},
{
cate = "\U8c03\U5473\U6599";
cateid = 2;
"food_flag" = 0;
id = 0;
name = "\U8c46\U6c99";
type = 2;
weight = 50g;
},
{
cate = "\U4f11\U95f2\U98df\U54c1";
cateid = 13;
"food_flag" = 0;
id = 0;
name = "\U679c\U812f";
type = 2;
weight = "2\U4e2a";
},
{
cate = "\U5e72\U8d27";
cateid = 4;
"food_flag" = 0;
id = 0;
name = "\U6842\U5706";
type = 2;
weight = "2\U4e2a";
}
);
Tags =             (
{
Id = 1257;
Name = "\U4e0b\U5348\U8336";
},
{
Id = 391;
Name = "\U513f\U7ae5";
},
{
Id = 847;
Name = "\U5143\U5bb5\U8282";
},
{
Id = 18873;
Name = "\U591c\U5bb5";
},
{
Id = 826;
Name = "\U5bb4\U8bf7";
},
{
Id = 331;
Name = "\U5ef6\U7f13\U8870\U8001";
},
{
Id = 286;
Name = "\U65e9\U9910";
},
{
Id = 416;
Name = "\U6625\U8282";
},
{
Id = 807;
Name = "\U767d\U9886";
},
{
Id = 393;
Name = "\U8001\U5e74\U4eba";
},
{
Id = 30700;
Name = "\U805a\U4f1a";
},
{
Id = 486;
Name = "\U84b8";
}
);
TalkUrl = "haodourecipe://haodou.com/douquan/";
Tips = "1.\U7ed9\U7897\U91cc\U7801\U6bcf\U4e00\U5c42\U7684\U65f6\U5019\U538b\U5b9e\U3002\n2.\U653e\U4e00\U70b9\U732a\U6cb9\U84b8\U51fa\U6765\U7684\U516b\U5b9d\U996d\U66f4\U9999\U8f6f\U3002";
Title = "\U7cef\U7c73\U516b\U5b9d\U996d";
Type = 1;
UserCount = "";
UserId = 9335819;
UserInfo =             {
Avatar = "http://avatar1.hoto.cn/0b/74/9335819_185.jpg?v=3";
FavoriteList =                 (
);
Gender = 0;
Intro = "";
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=9335819";
Relation = 0;
UserId = 9335819;
UserName = "\U8ff7\U8fed\U9999rosemary";
Vip = 0;
};
VideoCover = "http://recipe1.hoto.cn/pic/recipe/vc/c9/03/1049545_0772cc.jpg";
ViewCount = 478;
"ad_data" =             {
};
"ad_flag" = 0;
};
};
status = 200;
}