{
"request_id" = 517faef6955f6b97d84ecff94ee713de;
result =     {
HotCate =         (
{
CateId = 48;
CateName = "\U751c\U54c1";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/71/0b/1051505_dfd4b1.jpg";
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=1051505&video=1";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=48&name=%E7%94%9C%E5%93%81&type=1";
},
{
CateId = 15;
CateName = "\U70b9\U5fc3";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/68/0c/1051752_134643.jpg";
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=1051752&video=1";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=15&name=%E7%82%B9%E5%BF%83&type=1";
},
{
CateId = 33;
CateName = "\U7c73\U996d";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/cf/03/1049551_479184.jpg";
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=1049551&video=1";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=33&name=%E7%B1%B3%E9%A5%AD&type=1";
},
{
CateId = 52;
CateName = "\U9c7c";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/42/00/1048642_5ac186.jpg";
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=1048642&video=1";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=52&name=%E9%B1%BC&type=1";
},
{
CateId = 39;
CateName = "\U755c\U8089";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/4b/05/1049931_22f8cc.jpg";
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=1049931&video=1";
Url = "haodourecipe://haodou.com/Video/getVideoListByCate/?id=39&name=%E7%95%9C%E8%82%89&type=1";
}
);
ad =         (
{
ImgUrl = "http://img1.hoto.cn/haodou/g/7/20160328/16d43ea286a.jpg";
Title = "";
Url = "haodourecipe://haodou.com/collect/info/?id=9546408";
WapUrl = "haodourecipe://haodou.com/collect/info/?id=9546408";
},
{
ImgUrl = "http://img1.hoto.cn/haodou/g/7/20160328/16d44094969.jpg";
Title = "";
Url = "haodourecipe://haodou.com/collect/info/?id=9610975";
WapUrl = "haodourecipe://haodou.com/collect/info/?id=9610975";
}
);
ad1 =         {
ImgUrl = "http://img1.hoto.cn/haodou/g/7/20160328/16d4d36aab0.jpg";
Title = "";
Url = "haodourecipe://haodou.com/collect/info/?id=9546408";
WapUrl = "haodourecipe://haodou.com/collect/info/?id=9546408";
};
funlife =         (
{
CommentList =                 (
);
Info =                 {
CommentCount = 0;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=6&itemid=10000574&cid=0";
Cover = "http://img3.hoto.cn/videofun/be/98/10000574.jpg!w.360-ck.1cbeaa1ffd?v=0";
CreateTime = "\U524d\U592910:56";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2016-03-28";
DiggCount = 1;
Intro = "\U4e00\U4e2a\U7b80\U5355\U7c97\U66b4\U5168\U7a0b\U5e26\U4f60\U5403\U5403\U5403\U7684\U97e9\U56fd\U7f8e\U98df\U89c6\U9891\U3002";
IsDigg = 0;
PlayCount = 45;
Title = "\U97e9\U56fd\U8857\U5934\U7f8e\U98df\Uff01";
Type = 2;
UserInfo =                     {
Avatar = "http://avatar1.hoto.cn/c9/87/2656201_185.jpg";
Gender = 0;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=2656201";
UserId = 2656201;
UserName = "King\U8bfa";
Vip = 0;
};
VideoId = 10000574;
VideoUrl = "haodourecipe://haodou.com/video/detail/?id=10000574";
};
},
{
CommentList =                 (
);
Info =                 {
CommentCount = 0;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=6&itemid=10000576&cid=0";
Cover = "http://img3.hoto.cn/videofun/c0/98/10000576.jpg!w.360-ck.1cbeaa1ffd?v=0";
CreateTime = "\U6628\U592917:06";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2016-03-29";
DiggCount = 1;
Intro = "\U3010\U7f8e\U98df\U53f0\U3011\U5de7\U7528\U4e24\U79cd\U624b\U52bf\Uff0c\U8ba9\U9e21\U86cb\U53c8\U6ed1\U53c8\U5ae9_\U5982\U4f55\U505a\U51fa\U6ca1\U6709\U7ed3\U5757\U3001\U84ec\U677e\U7ec6\U5ae9\U7684\U6ed1\U86cb\Uff0c\U4e0a\U6d77\U5df4\U9ece\U7ea2\U6cd5\U56fd\U9910\U5385 (@Paris_Rouge) \U7684\U526f\U53a8\U5e08\U957f\U4efb\U541b\U8d50\U6559\Uff0c\U539f\U6765\U79d8\U8bc0\U5728\U4e8e\U201c\U63a8\U201d\U548c\U201c\U6405\U201c\U4e24\U79cd\U624b\U52bf\U4e0a\U9762\Uff0c\U8fd9\U4e5f\U662f\U897f\U5f0f\U6ed1\U86cb\U4e2d\U6700\U5e38\U89c1\U7684\U4e24\U79cd\U505a\U6cd5\Uff0c\U53ea\U9700\U8981\U7528\U5230\U4e00\U628a\U7845\U80f6\U94f2\U3001\U4e00\U652f\U6253\U86cb\U52fa\U800c\U5df2\U3002\U4e24\U5206\U949f\Uff0c\U5c31\U53ef\U4ee5\U8ba9\U5b8c\U7f8e\U7684\U6ed1\U86cb\U624b\U5230\U64d2\U6765\Uff0c\U4f60\U4e5f\U6765\U8bd5\U4e00\U4e0b\U5427\Uff01";
IsDigg = 0;
PlayCount = 45;
Title = "\U5982\U4f55\U505a\U51fa\U53c8\U6ed1\U53c8\U5ae9\U7684\U6ed1\U86cb";
Type = 2;
UserInfo =                     {
Avatar = "http://avatar0.hoto.cn/9c/0b/8915868_185.jpg?v=2";
Gender = 2;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=8915868";
UserId = 8915868;
UserName = "\U5708\U5708_83";
Vip = 0;
};
VideoId = 10000576;
VideoUrl = "haodourecipe://haodou.com/video/detail/?id=10000576";
};
},
{
CommentList =                 (
);
Info =                 {
CommentCount = 0;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=6&itemid=10000575&cid=0";
Cover = "http://img3.hoto.cn/videofun/bf/98/10000575.jpg!w.360-ck.1cbeaa1ffd?v=0";
CreateTime = "\U6628\U592917:03";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2016-03-29";
DiggCount = 2;
Intro = "\U300a\U89c5\U98df\U8ff9\U300b@\U957f\U6c99 \U7b2c\U4e09\U65e5\Uff1a\U957f\U6c99\U7684\U5c0f\U5403\U6b63\U5982\U957f\U6c99\U4eba\U7684\U6027\U683c\U4e00\U6837\U706b\U8fa3\U8fa3\Uff01\U4e0d\U7ba1\U662f\U55e6\U7c89\U3001\U70e4\U4e32\U3001\U7096\U7684\U3001\U716e\U7684\U3001\U70b8\U7684\U90fd\U4e00\U6837\Uff0c\U5c31\U8fde\U5403\U4e2a\U5c0f\U83dc\U90fd\U6709\U653e\U8fa3\U6912\U7684\Uff01";
IsDigg = 0;
PlayCount = 37;
Title = "\U957f\U6c99\U8857\U5934\U89c5\U98df\U5c0f\U5403";
Type = 2;
UserInfo =                     {
Avatar = "http://avatar0.hoto.cn/1e/0b/8915742_185.jpg?v=1";
Gender = 2;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=8915742";
UserId = 8915742;
UserName = "\U5c0f\U4e38\U5b50\U7684\U51ac\U5929";
Vip = 0;
};
VideoId = 10000575;
VideoUrl = "haodourecipe://haodou.com/video/detail/?id=10000575";
};
},
{
CommentList =                 (
);
Info =                 {
CommentCount = 0;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=6&itemid=10000570&cid=0";
Cover = "http://img3.hoto.cn/videofun/ba/98/10000570.jpg!w.360-ck.1cbeaa1ffd?v=0";
CreateTime = "\U524d\U592909:48";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2016-03-28";
DiggCount = 2;
Intro = "\U95fb\U8d77\U6765\U81ed\Uff0c\U5403\U8d77\U6765\U9999\U3002\U4ece\U5c0f\U6f58\U70b8\U5230\U8001\U6f58\Uff0c\U6f58\U5bb6\U81ed\U8c46\U8150";
IsDigg = 0;
PlayCount = 34;
Title = "\U5403\U8d77\U6765\U9999\U7684\U81ed\U8c46\U8150\U6f58\U5bb6\U81ed\U8c46\U8150";
Type = 2;
UserInfo =                     {
Avatar = "http://avatar1.hoto.cn/1d/1c/8920093_185.jpg?v=1";
Gender = 2;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=8920093";
UserId = 8920093;
UserName = "\U5c0f\U8c46_pp";
Vip = 0;
};
VideoId = 10000570;
VideoUrl = "haodourecipe://haodou.com/video/detail/?id=10000570";
};
}
);
hotrank =         (
{
CommentList =                 (
{
Cid = 30898108;
Content = "\U6210\U529f\U66f4\U4e30\U5bcc\U66f4\U597d\U66f4\U54c8\U54c8\U54c8\U54c8\U7ed9\U5e7f\U544a\U8d39\U987e\U5ba2\U53cd\U9988\U53d1\U4e00\U4e2a\U8fc7\U7a0b v \U5973\U6027\U987e\U5ba2\U516b\U4f70\U4f34 v vghlll";
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=8534880";
UserName = "\U97e9\U91d1\U751f";
},
{
Cid = 30898107;
Content = "\U6210\U529f\U66f4\U4e30\U5bcc\U66f4\U597d\U66f4\U54c8\U54c8\U54c8\U54c8\U7ed9\U5e7f\U544a\U8d39\U987e\U5ba2\U53cd\U9988\U53d1\U4e00\U4e2a\U8fc7\U7a0b v \U5973\U6027\U987e\U5ba2\U516b\U4f70\U4f34 v vghlll";
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=8534880";
UserName = "\U97e9\U91d1\U751f";
}
);
Info =                 {
CommentCount = 48;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=867440&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/70/3c/867440_c19628.jpg";
CreateTime = "2015-03-17 16:39";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2015-03-17";
DiggCount = 2157;
Intro = "\U4e00\U9053\U8089\U917f\U9e21\U86cb\Uff0c\U542b\U6709\U4e30\U5bcc\U7684\U86cb\U767d\U8d28\U3001\U9499\U548c\U7ef4\U751f\U7d20\U7b49\Uff0c\U98df\U6750\U4e5f\U662f\U5f02\U5f69\U7eb7\U5448\Uff0c\U70ed\U95f9\U6b22\U817e\Uff0c\U76f8\U4fe1\U6709\U4e86\U8fd9\U6837\U4e00\U6b3e\U7f8e\U98df\Uff0c\U7528\U9910\U65f6\U5149\U4e00\U5b9a\U4f1a\U76f8\U5f53\U6109\U5feb\U7684\U5462\Uff01";
IsDigg = 0;
PlayCount = 45391;
Title = "\U8089\U917f\U9e21\U86cb";
Type = 1;
UserInfo =                     {
Avatar = "http://avatar1.hoto.cn/c9/1d/2563529_185.jpg?v=4";
Gender = 1;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=2563529";
UserId = 2563529;
UserName = "\U597d\U8c46\U83dc\U8c31";
Vip = 1;
};
VideoId = 867440;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=867440&video=1";
};
},
{
CommentList =                 (
);
Info =                 {
CommentCount = 90;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=875146&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/8a/5a/875146_0304b3.jpg";
CreateTime = "2015-04-02 17:46";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2015-04-02";
DiggCount = 709;
Intro = "\U814c\U5236\U7684\U67e0\U6aac\U5b58\U653e\U65f6\U95f4\U957f\Uff0c\U53ef\U8865\U5145\U7ef4C\Uff0c\U89e3\U6e34\U751f\U6d25\Uff0c\U5e73\U65f6\U505a\U83dc\U653e\U4e0a\U4e24\U7247\Uff0c\U4e5f\U4f1a\U4f7f\U83dc\U80b4\U53d8\U5f97\U683c\U5916\U7f8e\U5473\U54e6\Uff01";
IsDigg = 0;
PlayCount = 113686;
Title = "\U814c\U67e0\U6aac";
Type = 1;
UserInfo =                     {
Avatar = "http://avatar1.hoto.cn/c9/1d/2563529_185.jpg?v=4";
Gender = 1;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=2563529";
UserId = 2563529;
UserName = "\U597d\U8c46\U83dc\U8c31";
Vip = 1;
};
VideoId = 875146;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=875146&video=1";
};
},
{
CommentList =                 (
);
Info =                 {
CommentCount = 64;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=862351&cid=0";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/8f/28/862351_90b69a.jpg";
CreateTime = "2015-03-06 18:20";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2015-03-06";
DiggCount = 900;
Intro = "\U9ed1\U7c73\U5177\U6709\U5f00\U80c3\U5065\U813e\U7684\U529f\U6548\Uff0c\U7ea2\U67a3\U7f8e\U5bb9\U517b\U989c\U7684\U4f73\U54c1\Uff0c\U4e24\U8005\U642d\U914d\U98df\U7528\Uff0c\U8425\U517b\U7f8e\U5473\Uff0c\U8f6f\U7cef\U6e05\U9999\U7684\U53e3\U611f\Uff0c\U4e00\U5b9a\U4f1a\U8ba9\U4f60\U56de\U5473\U65e0\U7a77\U7684\Uff01";
IsDigg = 0;
PlayCount = 78442;
Title = "\U7ea2\U67a3\U9ed1\U7c73\U7ca5";
Type = 1;
UserInfo =                     {
Avatar = "http://avatar1.hoto.cn/c9/1d/2563529_185.jpg?v=4";
Gender = 1;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=2563529";
UserId = 2563529;
UserName = "\U597d\U8c46\U83dc\U8c31";
Vip = 1;
};
VideoId = 862351;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=862351&video=1";
};
}
);
novice =         (
{
CommentList =                 (
{
Cid = 30899675;
Content = "\U8d5e\U4e00\U4e2a";
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=5771257";
UserName = "\U6881\U51ef\U5f6d";
},
{
Cid = 30898805;
Content = "\U5f88\U5389\U5bb3\Uff01";
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=9633107";
UserName = "\U7528\U62374356779354";
}
);
Info =                 {
CommentCount = 2;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=1051904&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/00/0d/1051904_83bd7a.jpg";
CreateTime = "\U6628\U592917:51";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2016-03-29";
DiggCount = 3;
Intro = "\U975e\U5e38\U8be6\U7ec6\U7684\U6574\U9e21\U53bb\U9aa8";
IsDigg = 0;
PlayCount = 114;
Title = "\U7cbe\U6e5b\U5200\U5de5\U6574\U9e21\U53bb\U9aa8";
Type = 1;
UserInfo =                     {
Avatar = "http://avatar1.hoto.cn/0b/11/8917259_185.jpg";
Gender = 2;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=8917259";
UserId = 8917259;
UserName = "\U5495\U565c\U5495\U565c\U554a";
Vip = 0;
};
VideoId = 1051904;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=1051904&video=1";
};
}
);
recipe =         (
{
CommentList =                 (
{
Cid = 30885345;
Content = "\U7f8e\U5473\Uff01[\U53e3\U6c34]";
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=9644541";
UserName = "\U6c34\U679c\U6ce1\U51b0";
},
{
Cid = 30874275;
Content = "\U597d\U8bf1\U4eba\U54e6\Uff01";
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=1320375";
UserName = "\U6e05\U7eaf\U5c0f\U68c9\U8884";
}
);
Info =                 {
CommentCount = 2;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=1051486&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/5e/0b/1051486_6099bd.jpg";
CreateTime = "\U524d\U592917:51";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2016-03-28";
DiggCount = 13;
Intro = "\U5916\U76ae\U7126\U9999\Uff0c\U5185\U82af\U8f6f\U7ef5\Uff0c\U852c\U83dc\U6e05\U9999\Uff0c\U7ae0\U9c7c\U54b8\U9c9c\Uff0c\U518d\U6dcb\U4e0a\U7279\U8d28\U7684\U9171\U6c41\U3001\U6c99\U5f8b\U9171\Uff0c\U914d\U4e0a\U6728\U9c7c\U82b1\U548c\U6d77\U82d4\U4e1d\U53e3\U611f\U975e\U5e38\U597d\Uff0c\U6bcf\U4e00\U4f4d\U54c1\U5c1d\U8fc7\U7684\U670b\U53cb\U90fd\U4f1a\U7231\U4e0a\U5b83\Uff01";
IsDigg = 0;
PlayCount = 133;
Title = "\U7ae0\U9c7c\U5c0f\U4e38\U5b50";
Type = 1;
UserInfo =                     {
Avatar = "http://avatar1.hoto.cn/e3/15/9311715_185.jpg?v=1";
Gender = 1;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=9311715";
UserId = 9311715;
UserName = "\U79c1\U5473\U98df\U5149";
Vip = 0;
};
VideoId = 1051486;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=1051486&video=1";
};
},
{
CommentList =                 (
);
Info =                 {
CommentCount = 73;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=853466&cid=0";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/da/05/853466_c3bdfd.jpg";
CreateTime = "2015-02-10 17:28";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2015-02-10";
DiggCount = 1587;
Intro = "\U9752\U8863\U7d20\U5fc3\Uff0c\U5149\U542c\U540d\U5b57\U5c31\U60f9\U4eba\U601c\U7231\Uff01\U7ec6\U7ec6\U54c1\U5473\U91d1\U9488\U83c7\U3001\U9999\U83c7\U3001\U80e1\U841d\U535c\U505a\U6210\U7684\U7d20\U9985\Uff0c\U6e05\U6de1\U7cbe\U81f4\Uff0c\U81ea\U7136\U723d\U53e3!";
IsDigg = 0;
PlayCount = 53330;
Title = "\U9752\U8863\U7d20\U5fc3";
Type = 1;
UserInfo =                     {
Avatar = "http://avatar1.hoto.cn/c9/1d/2563529_185.jpg?v=4";
Gender = 1;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=2563529";
UserId = 2563529;
UserName = "\U597d\U8c46\U83dc\U8c31";
Vip = 1;
};
VideoId = 853466;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=853466&video=1";
};
},
{
CommentList =                 (
);
Info =                 {
CommentCount = 69;
CommentUrl = "haodourecipe://haodou.com/comment/list/?type=0&itemid=869943&cid=0";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/37/46/869943_e7d523.jpg";
CreateTime = "2015-03-22 20:41";
"CreateTime_" = "\U521b\U5efa\U65e5\U671f\Uff1a2015-03-22";
DiggCount = 2564;
Intro = "\U91d1\U9ec4\U7684\U867e\U7403\Uff0c\U7ea2\U7ea2\U7684\U867e\U5c3e\Uff0c\U70b8\U81f3\U9165\U8106\U7684\U9762\U5305\U7ce0\Uff0c\U7edd\U5bf9\U4f1a\U8ba9\U4f60\U5fcd\U4e0d\U4f4f\Uff0c\U62c8\U8d77\U867e\U5c3e\Uff0c\U4e22\U8fdb\U5634\U5df4\U5927\U56bc\U7684\U51b2\U52a8\U3002\U8fd8\U4e0d\U8d76\U5feb\U8bd5\U7740\U505a\U4e00\U4e0b\Uff01";
IsDigg = 0;
PlayCount = 80392;
Title = "\U70b8\U867e";
Type = 1;
UserInfo =                     {
Avatar = "http://avatar1.hoto.cn/c9/1d/2563529_185.jpg?v=4";
Gender = 1;
OpenUrl = "haodourecipe://haodou.com/user/wo/?id=2563529";
UserId = 2563529;
UserName = "\U597d\U8c46\U83dc\U8c31";
Vip = 1;
};
VideoId = 869943;
VideoUrl = "haodourecipe://haodou.com/recipe/info/?id=869943&video=1";
};
}
);
};
status = 200;
}