{
"_AB" = "ABTESTING_RECOMMEND_RECIPE:A";
"request_id" = d692f5c0e125acbc3bba03e156c3099c;
result =     {
album =         {
icon = "http://www.haodou.com/public/images3/ico_hot_album.png";
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipe_collect/collectrecommend/3204.jpg?v=0";
List =                     (
{
Cover = "http://recipe1.hoto.cn/pic/recipe/g_230/cf/cf/577487_35c19e.jpg";
Title = "\U7092\U8089\U62c9\U76ae";
},
{
Cover = "http://recipe0.hoto.cn/pic/recipe/g_230/48/7e/556616_f0cb3a.jpg";
Title = "\U62c9\U76ae\U7092\U8089\U4e1d";
},
{
Cover = "http://recipe1.hoto.cn/pic/recipe/g_230/19/87/689945_71d8e6.jpg";
Title = "\U7092\U8089\U62c9\U76ae";
}
);
Recipe = "28\U9053\U83dc";
Title = "\U6700\U4e0b\U996d\U7684\U4e1c\U5317\U51c9\U83dc";
Url = "haodourecipe://haodou.com/collect/info/?id=9827530";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_collect/collectrecommend/3203.jpg?v=0";
List =                     (
{
Cover = "http://recipe1.hoto.cn/pic/recipe/g_230/d1/5c/1006801_4231e9.jpg";
Title = "\U8702\U871c\U67da\U5b50\U8336";
},
{
Cover = "http://recipe1.hoto.cn/pic/recipe/g_230/af/87/1017775_c74abd.jpg";
Title = "\U6842\U82b1\U7cef\U7c73\U7cd6\U85d5";
},
{
Cover = "http://recipe0.hoto.cn/pic/recipe/g_230/26/7f/1015590_1a8530.jpg";
Title = "\U6842\U82b1\U732b\U722a\U5c0f\U5706\U5b50";
}
);
Recipe = "36\U9053\U83dc";
Title = "\U6625\U5b63\U5fc5\U5907\Uff01\U517b\U989c\U4f73\U54c1";
Url = "haodourecipe://haodou.com/collect/info/?id=9800198";
}
);
name = "\U70ed\U95e8\U4e13\U8f91";
url = "haodourecipe://haodou.com/collect/list/";
};
event =         {
icon = "http://www.haodou.com/public/images3/ico_hots_activity.png";
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/1af06a129.jpg";
Intro = "\U81ea\U5df1\U52a8\U624b\U505a\U5065\U5eb7\U7f8e\U5473\U7684\U9752\U56e2\U5427\U3002";
Title = "\U597d\U8c46\U95ee\U7b54\Uff1a\U6e05\U660e\U9752\U56e2\U5236\U4f5c\U6280\U5de7";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-441168.html&id=441168";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/11b2fed47.jpg";
Intro = "\U6652\U6e05\U660e\U4e60\U4fd7\Uff0c\U8d62\U597d\U8c46\U51fa\U6e38\U5305\U53ca\U56f4\U88d9";
Title = "\U5403\U9752\U56e2\Uff0c\U54c1\U5bd2\U98df\Uff0c\U4e00\U8d77\U8fc7\U6e05\U660e\U2014\U2014\U6652\U4f5c\U54c1\U6709\U5956\U6d3b\U52a8";
Url = "haodourecipe://haodou.com/photolist/?type=1&id=92&subtype=&_wt=5&_wt=4&_wt=5&_wt=5&_wt=4&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=4";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/11e9c23b7.jpg";
Intro = "\U7b2c\U4e8c\U4ef6\U534a\U4ef7\Uff0c\U662f\U771f\U7684\Uff01\Uff01";
Title = "\U3010\U5230\U5bb6\U3011\U611a\U4eba\U8282\U4e0d\U611a\U4eba";
Url = "haodourecipe://haodou.com/openurl/?url=http%3A%2F%2Fm.haodou.com%2Fmall%2Findex.php%3Fr%3Dwap%2Fcollect%26type%3D1%26collectId%3D11%26_wt%3D4";
}
);
name = "\U70ed\U95e8\U6d3b\U52a8";
url = "haodourecipe://haodou.com/latestactive/official/";
};
goods =         {
list =             (
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1458871171207.jpg";
SubTitle = "\U98df\U8089\U96c6";
Title = "\U75af\U72c2\U52a8\U7269\U57ce";
Url = "haodourecipe://haodou.com/goods/subject/?type=2&collectId=5";
},
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1458871171678.jpg";
SubTitle = "\U517b\U80c3\U517b\U5fc3";
Title = "\U6ecb\U8865\U9753\U6c64";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=396";
},
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1458871171770.jpg";
SubTitle = "\U53bb\U65c5\U884c";
Title = "\U8ddf\U7740\U5634\U5df4";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=395";
},
{
Img = "http://img1.hoto.cn/mall/mall_ad/2016/03/1458871171919.jpg";
SubTitle = "\U624d\U61c2\U597d\U751f\U6d3b";
Title = "\U624b\U5de5\U70d8\U7119";
Url = "haodourecipe://haodou.com/goods/subjectlist/?id=394";
}
);
name = "\U5230\U5bb6\U5546\U54c1";
};
person =         {
icon = "http://www.haodou.com/public/images3/ico_yourlove.png";
list =             (
{
Img = "http://recipe1.hoto.cn/pic/recipe/g_230/2d/62/418349_4e51f1.jpg";
Title = "\U7ea2\U8c46\U6930\U4e1d\U5305";
Url = "haodourecipe://haodou.com/recipe/info/?id=418349&video=0";
},
{
Img = "http://recipe1.hoto.cn/pic/recipe/g_230/d3/da/383699_fcbe4d.jpg";
Title = "\U82b1\U751f\U9165";
Url = "haodourecipe://haodou.com/recipe/info/?id=383699&video=0";
},
{
Img = "http://recipe0.hoto.cn/pic/recipe/g_230/52/89/297298_50d55c.jpg";
Title = "\U68c9\U91cc\U85cf\U9488";
Url = "haodourecipe://haodou.com/recipe/info/?id=297298&video=0";
}
);
name = "\U731c\U4f60\U559c\U6b22";
tag =             (
{
CateId = 113;
CateName = "\U8c46\U8150";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/84/59/285060_bb7e88.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=285060&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=113&name=%E8%B1%86%E8%85%90";
},
{
CateId = 163;
CateName = "\U8349\U8393";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/ad/ac/371885_092af6.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=371885&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=163&name=%E8%8D%89%E8%8E%93";
},
{
CateId = 66;
CateName = "\U97ed\U83dc";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/3e/4a/281150_fcd085.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=281150&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=66&name=%E9%9F%AD%E8%8F%9C";
},
{
CateId = 135;
CateName = "\U83b4\U7b0b";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/dc/c7/444380_17928a.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=444380&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=135&name=%E8%8E%B4%E7%AC%8B";
},
{
CateId = 1564;
CateName = "\U86cb\U631e";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/80/a5/304512_5053a1.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=304512&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=1564&name=%E8%9B%8B%E6%8C%9E";
},
{
CateId = 348;
CateName = "\U517b\U80c3";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/b3/6c/355507_0f67ce.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=355507&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=348&name=%E5%85%BB%E8%83%83";
},
{
CateId = 2388;
CateName = "\U84b8\U83dc";
Cover = "http://recipe0.hoto.cn/pic/recipe/l/66/85/296294_d8a88f.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=296294&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=2388&name=%E8%92%B8%E8%8F%9C";
},
{
CateId = 34800;
CateName = "\U7535\U997c\U94db";
Cover = "http://recipe1.hoto.cn/pic/recipe/l/ff/f3/324607_36a112.jpg";
HasVideo = 0;
OpenUrl = "haodourecipe://haodou.com/recipe/info/?id=324607&video=0";
Url = "haodourecipe://haodou.com/recipe/tag/?id=34800&name=%E7%94%B5%E9%A5%BC%E9%93%9B";
}
);
url = "haodourecipe://haodou.com/recommend/recipe/?keyword=%E7%8C%9C%E4%BD%A0%E5%96%9C%E6%AC%A2&title=%E7%8C%9C%E4%BD%A0%E5%96%9C%E6%AC%A2";
};
publish =         {
img = "http://img1.hoto.cn/haodou/g/1/20151230/443e9e963bb.jpg";
title = "\U5206\U4eab\U7f8e\U98df";
url = "haodourecipe://haodou.com/publish/photo/?TagId=&TagName=&rid=&isTopic=0&static_type=6";
};
read =         {
Count = 3;
icon = "http://www.haodou.com/public/images3/ico_quality_goods.png";
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/1f7753682.jpg";
Intro = "30\U79cd\U9c7c\U7684\U505a\U6cd5\U5747\U65e0\U91cd\U590d,\U96c6\U9c7c\U4e4b\U7f8e\U5473\U4e8e\U4e00\U684c,\U5c06\U9c7c\U4e4b\U9c9c\U7f8e\U5448\U4e8e\U5bb4,\U597d\U5403\U5f97\U8ba9\U4f60\U6d41\U53e3\U6c34\U2026\U2026";
Title = "\U3010\U5730\U65b9\U5473\U3011\U5cb3\U9633\U697c\U5168\U9c7c\U5bb4|30\U79cd\Uff0c\U4f60\U80fd\U8ba4\U5168\Uff0c\U6211\U8bf7\U9738\U738b\U9910\Uff01";
Url = "haodourecipe://haodou.com/collect/info/?id=9797800";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/1e8332f72.jpg";
Intro = "\U559c\U6b22\U6311\U5254\U7684\U5c0f\U5b69\U5b50\U4e5f\U7231\U4e0d\U91ca\U624b,\U81ea\U5236\U6c49\U5821\U53ef\U4ee5\U5b8c\U7f8e\U7684\U586b\U6ee1\U5c0f\U5b69\U5b50\U7684\U6311\U5254\U611f\Uff01\U6765\Uff0c\U73b0\U5728\U6211\U6559\U4f60~";
Title = "\U3010\U70d8\U7119\U6559\U5ba4\U3011\U8da3\U5473\U513f\U7ae5\U9910\Uff0c\U5b69\U5b50\U7684\U6c49\U5821\U7531\U4f60\U521b\U9020\Uff01";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-440244.html&id=440244";
},
{
Img = "http://img1.hoto.cn/haodou/recipev4/wiki/14fa440ff.jpg";
Intro = "\U6e05\U660e\U65f6\U8282\U662f\U6e05\U6c14\U4e0a\U5347\U7684\U8282\U6c14\Uff0c\U6e05\U660e\U517b\U751f\U8981\U6e05\U6d4a\U6c14\U3002\U90a3\U4e48\U5728\U6e05\U660e\U65f6\U8282\Uff0c\U6211\U4eec\U5982\U4f55\U201c\U6e05\U201d\U51fa\U5065\U5eb7\U6765\U5462\Uff1f";
Title = "\U3010\U8282\U6c14\U3011\U6e05\U660e\Uff0c\U6559\U4f60\U5982\U4f55\U201c\U6e05\U201d\U51fa\U5065\U5eb7\U6765";
Url = "haodourecipe://haodou.com/opentopic/?url=http%3A%2F%2Fm.haodou.com%2Ftopic-440025.html&id=440025";
}
);
name = "\U7cbe\U54c1\U9605\U8bfb";
url = "haodourecipe://haodou.com/reading/list/";
};
recipe =         {
list =             (
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/04/1459821880.jpg";
Title = "\U5230\U5bb6";
Url = "haodourecipe://haodou.com/goods/subject/?type=1&collectId=12";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/04/1459818191.jpg";
Title = "\U53bb\U5927\U8fde\Uff0c\U55e8\U5403\U70e7\U70e4\Uff01";
Url = "haodourecipe://haodou.com/collect/info/?id=9771528";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/04/1459823682.jpg";
Title = "\U8bf7\U4f60\U5403\U9c8d\U9c7c\Uff01\U7d20\U7684";
Url = "haodourecipe://haodou.com/collect/info/?id=9828775";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/04/1459820280.jpg";
Title = "\U53ef\U4e50\U505a\U83dc\U5c31\U662f\U9999";
Url = "haodourecipe://haodou.com/collect/info/?id=9578332";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/04/1459504604.jpg";
Title = "\U6e05\U660e\U8282\U6d3b\U52a8";
Url = "haodourecipe://haodou.com/photolist/?type=1&id=92&subtype=&_wt=5&_wt=4&_wt=5&_wt=5&_wt=4&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=4";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/04/1459820853.jpg";
Title = "\U87f9\U9ec4\U84b8\U997a";
Url = "haodourecipe://haodou.com/recipe/info/?id=1054203&video=0";
},
{
Img = "http://img1.hoto.cn/haodou/recipe_mobile_ad/2016/04/1459820914.jpg";
Title = "\U5e02\U957f\U83dc";
Url = "haodourecipe://haodou.com/recipe/info/?id=1029386&video=0";
}
);
};
recommed =         {
ad =             {
Img = "http://img1.hoto.cn/haodou/recipev4/recommend/1e72a7b41.jpg";
Title = "\U6d3b\U52a8";
Url = "haodourecipe://haodou.com/photolist/?type=1&id=92&subtype=&_wt=5&_wt=4&_wt=5&_wt=5&_wt=4&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=5&_wt=4";
};
list =             (
{
Img = "http://recipe1.hoto.cn/pic/recipe/g_230/53/d9/1038675_c4ae27.jpg";
Intro = "\U4eba\U6c14\U83dc\U8c31\U63a8\U8350";
Title = "\U70ed\U95e8\U83dc\U8c31";
Url = "haodourecipe://haodou.com/recommend/recipe/?keyword=%E7%83%AD%E9%97%A8%E8%8F%9C%E8%B0%B1&title=%E7%83%AD%E9%97%A8%E8%8F%9C%E8%B0%B1&tab=%E5%85%A8%E9%83%A8%3A%E7%83%AD%E9%97%A8%E8%8F%9C%E8%B0%B1%7C%E7%A7%81%E4%BA%BA%3A%E7%A7%81%E4%BA%BA%E5%AE%9A%E5%88%B6%7C%E6%97%B6%E4%BB%A4%3A%E6%97%B6%E4%BB%A4%E4%BD%B3%E8%82%B4%7C%E8%BE%BE%E4%BA%BA%3A%E8%BE%BE%E4%BA%BA%E8%8F%9C%E8%B0%B1%7C%E6%9C%80%E6%96%B0%3A%E6%9C%80%E6%96%B0%E8%8F%9C%E8%B0%B1%7C%E7%83%98%E7%84%99%3A%E5%BF%AB%E4%B9%90%E7%9A%84%E7%83%98%E7%84%99";
},
{
Img = "http://www.haodou.com/public/images3/healthy.jpg";
Intro = "\U8425\U517b\U5065\U5eb7";
Title = "\U8425\U517b\U5065\U5eb7";
Url = "haodourecipe://haodou.com/openurlid/?id=484702";
}
);
};
tools =         {
list =             (
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/1.png";
Title = "\U7f8e\U98df\U6c47";
Url = "haodourecipe://haodou.com/index/discovery/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/2.png";
Title = "\U6652\U4f5c\U54c1";
Url = "haodourecipe://haodou.com/find/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/3.png";
Title = "\U89c6\U9891";
Url = "haodourecipe://haodou.com/Video/index/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/4.png";
Title = "\U53a8\U623f\U5b9d\U5178";
Url = "haodourecipe://haodou.com/wiki/list/";
},
{
Img = "http://img4.hoto.cn/mobile/app_index_icon/v5/5.png";
Title = "\U6447\U4e00\U6447";
Url = "haodourecipe://haodou.com/shake/";
}
);
};
vip =         {
icon = "http://www.haodou.com/public/images3/ico_auxiliary_master.png";
list =             (
{
Img = "http://avatar1.hoto.cn/79/05/132473_185.jpg?v=15";
Title = "\U7ea2\U8c46\U53a8\U574a";
Url = "haodourecipe://haodou.com/user/wo/?id=132473&name=%E7%BA%A2%E8%B1%86%E5%8E%A8%E5%9D%8A&avatar=http://avatar1.hoto.cn/79/05/132473_185.jpg?v=15";
},
{
Img = "http://avatar0.hoto.cn/24/55/7230756_185.jpg?v=3";
Title = "\U5b69\U5988\U59ae\U59ae";
Url = "haodourecipe://haodou.com/user/wo/?id=7230756&name=%E5%AD%A9%E5%A6%88%E5%A6%AE%E5%A6%AE&avatar=http://avatar0.hoto.cn/24/55/7230756_185.jpg?v=3";
},
{
Img = "http://avatar0.hoto.cn/76/21/3547510_185.jpg";
Title = "18LS28xgl\U96f6\U843d";
Url = "haodourecipe://haodou.com/user/wo/?id=3547510&name=18LS28xgl%E9%9B%B6%E8%90%BD&avatar=http://avatar0.hoto.cn/76/21/3547510_185.jpg";
},
{
Img = "http://avatar0.hoto.cn/78/8f/2527096_185.jpg?v=16";
Title = "\U571f\U8c46\U4e1d\U5377\U997c";
Url = "haodourecipe://haodou.com/user/wo/?id=2527096&name=%E5%9C%9F%E8%B1%86%E4%B8%9D%E5%8D%B7%E9%A5%BC&avatar=http://avatar0.hoto.cn/78/8f/2527096_185.jpg?v=16";
},
{
Img = "http://avatar0.hoto.cn/02/10/4098_185.jpg?v=5";
Title = "\U82b7\U840d";
Url = "haodourecipe://haodou.com/user/wo/?id=4098&name=%E8%8A%B7%E8%90%8D&avatar=http://avatar0.hoto.cn/02/10/4098_185.jpg?v=5";
}
);
name = "\U597d\U8c46\U8fbe\U4eba";
url = "haodourecipe://haodou.com/vipuser/";
};
};
status = 200;
}